/*-TAGS-*/
*
{
    margin:0px;
    padding:0px;
}
input,
select,
textarea {
    max-width: 480px;
}
input[disabled]{
    color:black!important;
}
h2{
    font-size:30px!important;
}
h3{
    font-size:24px!important;
}
h4 {
    font-size: 20px !important;
}

h5 {
    font-size: 18px !important;
}
html, body {
  height: 100%;
}
body{
    background-color:#c2c2c2;
}

/*-HELPERS-*/
.body {
    display:flex;
}
.centrar
{
    margin-left:auto!important;
    margin-right:auto!important;
}
.form-group
{
    padding:10px
}
.titulo{
    font-size:18px;
}
/*para darle efecto hover a los renglones de las tablas*/
.hoverableTr:hover{
    background-color: #333!important;   
    color:whitesmoke!important;
    cursor:pointer;
}
.hoverableTr td{
    color:inherit!important;
}


/*-_LAYOUT-*/
.logo{
    width:100%;
    margin: 0 auto;   
}
.brand-logo{
    display:block;
    overflow:hidden;
    background-color:red;
    width:200px;
    height:100%;
    margin-left:1%;
}
/*nav*/
.centrar>ul>li>a, .LoginPartial ul>li>a, .brand-logo {
  color: #444!important;
}
.navBtn
{
    max-width:300px;
}


.LoginPartial
{
    max-width:500px;
    float:right;
    text-align:center;
}
#changePassword li
{
    min-width: 200px;
}
#changePassword li > ul{
    display:none;
    position:absolute;
    box-shadow: 5px 5px 4px #999;
    background-color:#fff;
    z-index:1000;
}
#changePassword li:hover > ul{
    display:block;
}
.RenderBody {
    margin-top: 60px !important;
    flex:1;
    margin-left: 50px;
}
.contenido {
    max-width: 95%;
    padding: 20px;
}

.sideMenuDiv {
    min-width: 100px;
    width: 5%;
    padding-bottom: 50px;
    border-left: solid 10px #009688;
    top: 53px;
    z-index: 0;
    -webkit-transition: width .5s !important;
    transition: width .5s !important;
}
.sideMenuDiv:hover {
    width: 200px;
}

.sideMenuItemText {
    display: none;

}
.sideMenuDiv:hover .sideMenuItemText {
    display: inherit;
}





.sideMenuTitulo {
    padding: 25px;
    height:112px;
    -webkit-transition: all .5s;
}

.sideMenuTitulo:hover {
    background-color: #7ecec7
}

.sideMenuUl > li {
    height: 50px;
}

.sideMenuUl > li:hover {
    background-color: #009688
}

.sideMenuUl > li > a {
    margin-top: 5px;
}

.icono-medium
{
    margin-right:5px;   
    vertical-align:bottom;
    font-size:40px!important;
}

.icono-small
{
    margin-right:5px; 
    vertical-align:bottom;
    font-size:26px!important;
}




/*-INDEX-*/
#indexSubtitle, #indexTitle 
{
    text-shadow: 1px 1px black;    
}


/*-ABOUT-*/
.about-text{
    font-size: 14px;
}
.about-card{
    max-width:350px!important;
}
/*-STICKY-FOOTER-*/
.RenderBody, #index-body {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -225px; 
}
.RenderBody:after, #index-body:after {
  content: "";
  display: block;
}
.page-footer, .RenderBody:after, #index-body:after {
  height: 227px;
  margin-top:50px;
}

/*EVENTOS*/
/*Administrar*/
.deleteFormDiv {
    max-width: 50px;
}
.certTd{
    width:100px
}
/*MIEMBROS*/
/*Details*/
 .detailsTable {
    font-size: 13px;
}

.detailsTable td {
    color: grey;
}
