@{
    ViewBag.Title = "Sobre nosotros";
}
<h4>@ViewBag.Title</h4>

<p class="about-text grey-text text-darken-2">
    Este sitio web es un sistema de organizacion de conferencias que facilita la comunicacion entre oradores y organizadores en relacion con los paper que los primeros presentan para la creacion de las charlas que se desarrollaran.
</p>
<p class="about-text grey-text text-darken-2">
    El sistema fué desarrollado por alumnos de la Universidad tecnologica nacional - facultad regional resistencia, la cual se encuentra ubicada en la ciudad de Resistencia capital de la provincia del chaco al norte de Argentina, para la catedra de Proyecto Final de la carrera de Ingenieria en sistemas de información.
</p>
<br />
<p class="about-text grey-text text-darken-2">
    Los integrantes de este proyecto son los siguientes:
</p>

<div class="row">
    <div class="col s4">
        <div class="card about-card">
            <div class="card-image">
                <img src="~/Content/Images/about/Maximiliano.jpg" />
                <span class="card-title">Maxi</span>
            </div>
            <div class="card-content">
                <p>
                    Analista Programador
                </p>
            </div>
            <div class="card-action">
                <a href="#">Maximiliano Aquino</a>
            </div>
        </div>
    </div>
    <div class="col s4">
        <div class="card about-card">
            <div class="card-image">
                <img src="~/Content/Images/about/Fernando.png" />
                <span class="card-title">Fer</span>
            </div>
            <div class="card-content">
                <p>
                    Analista Programador
                </p>
            </div>
            <div class="card-action">
                <a href="#">Fernando Asulay</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s4">
        <div class="card about-card">
            <div class="card-image">
                <img src="~/Content/Images/about/Javier.png" />
                <span class="card-title">Javi</span>
            </div>
            <div class="card-content">
                <p>
                    Analista Programador
                </p>
            </div>
            <div class="card-action">
                <a href="#">Javier Wetzel</a>
            </div>
        </div>
    </div>
    <div class="col s4">
        <div class="card about-card">
            <div class="card-image">
                <img src="~/Content/Images/about/Eliana.jpg" />
                <span class="card-title">Eli</span>
            </div>
            <div class="card-content">
                <p>
                    Analista Programador
                </p>
            </div>
            <div class="card-action">
                <a href="#">Eliana Silva-beker</a>
            </div>
        </div>
    </div>
</div>

