@{
    ViewBag.Title = "Sobre Nosotros";
}
<h4>@ViewBag.Title</h4>

<p class="about-text grey-text text-darken-2">
    El sistema fue desarrollado por alumnos de la Universidad Tecnológica Nacional - Facultad Regional Resistencia, para la cátedra de Proyecto Final de la carrera de Ingeniería en Sistemas de Información.
</p>
<p class="about-text grey-text text-darken-2">
    Este sitio es una aplicación web que sirve como herramienta centralizadora de la información requerida por los organizadores y los participantes de las conferencias que la misma administra.
</p>
<br />
<p class="about-text grey-text text-darken-2">
    Los integrantes de este proyecto son los siguientes:
</p>

<div class="row">
    <div class="col s4">
        <div class="card about-card">
            @*<div class="card-image">
                <img src="~/Content/Images/about/Maximiliano.jpg" />
                <span class="card-title">Maxi</span>
            </div>*@
            <div class="card-content">
                <p>
                    Analista Programador
                </p>
            </div>
            <div class="card-action">
                <a href="#">Maximiliano Aquino</a>
            </div>
        </div>
    </div>
    <div class="col s4">
        <div class="card about-card">
            @*<div class="card-image">
                <img src="~/Content/Images/about/Fernando.png" />
                <span class="card-title">Fer</span>
            </div>*@
            <div class="card-content">
                <p>
                    Analista Programador
                </p>
            </div>
            <div class="card-action">
                <a href="#">Fernando Asulay</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s4">
        <div class="card about-card">
            @*<div class="card-image">
                <img src="~/Content/Images/about/Javier.png" />
                <span class="card-title">Javi</span>
            </div>*@
            <div class="card-content">
                <p>
                    Analista Programador
                </p>
            </div>
            <div class="card-action">
                <a href="#">Javier Wetzel</a>
            </div>
        </div>
    </div>
    <div class="col s4">
        <div class="card about-card">
            @*<div class="card-image">
                <img src="~/Content/Images/about/Eliana.jpg" />
                <span class="card-title">Eli</span>
            </div>*@
            <div class="card-content">
                <p>
                    Analista Programador
                </p>
            </div>
            <div class="card-action">
                <a href="#">Eliana Silva-beker</a>
            </div>
        </div>
    </div>
</div>

