@model Congressus.Web.Models.Entities.Evento
@{
    ViewBag.Title = "Administrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_AdministrarEventoNav",Model)

<h4 class="teal-text text-darken-2">Administracion del evento: <a href="@Url.Action("Details", "Eventos", new { id = Model.Id })">@Model.Nombre</a></h4>


@RenderBody()

