@model string[]
@if (Model!=null)
{
    <div class="carousel carousel-slider">        
        <a class="carousel-item" href="#"><img src="@Model.First()"/></a>
        @foreach (var imagen in Model.Skip(1))
        {
            <div class="carousel-item"><img src="@imagen" /></div>
        }
    </div>
}
 