@model Congressus.Web.Models.Entities.Evento
@{
    string[] imagenes = null;
    if (Model.ImagenesInicio != null) {
        imagenes = Model.ImagenesInicio.Split(';');
    }
}
@if (!string.IsNullOrEmpty(Model.ImagenesInicio))
{

    <div class="carousel carousel-slider">        
        <a class="carousel-item" href="#"><img src="@imagenes.First()"/></a>
        @foreach (var imagen in imagenes.Skip(1))
        {
            <div class="carousel-item"><img src="@imagen" /></div>
        }
    </div>
}
 