@model Congressus.Web.Models.Entities.Evento
<div id="FechasImportantes">
    <h4 class="teal-text">Fechas importantes</h4>
    <table class="striped detailsTable">
        <tr></tr>
        <tr>
            <th class="black-text text-accent-4"><strong>Fecha limite de presentacion de trabajos:</strong></th>
            <td><span>@Html.DisplayFor(model => model.FechaFinTrabajos)</span></td>
        </tr>
        <tr>
            <th class="black-text text-accent-4"><strong>Fecha limite de inscripcion:</strong></th>
            <td><span>@Html.DisplayFor(model => model.FechaFinInscripcion)</span></td>
        </tr>
        <tr>
            <th class="black-text text-accent-4"><strong>Fecha de inicio:</strong></th>
            <td><span>@Html.DisplayFor(model => model.FechaInicio)</span></td>
        </tr>
        <tr>
            <th class="black-text text-accent-4"><strong>Fecha de finalizacion:</strong></th>
            <td><span>@Html.DisplayFor(model => model.FechaFin)</span></td>
        </tr>
    </table>
</div>