@model Congressus.Web.Models.Entities.Evento
<div id="FechasImportantes">
    <table class="striped detailsTable">
        <tr></tr>
        <tr>
            <th class="black-text text-accent-4"><strong>Fecha limite de presentacion de trabajos:</strong></th>
            <td><span>@Model.FechaFinTrabajos</span></td>
        </tr>
        <tr>
            <th class="black-text text-accent-4"><strong>Fecha limite de inscripcion:</strong></th>
            <td><span>@Model.FechaFinInscripcion</span></td>
        </tr>
        <tr>
            <th class="black-text text-accent-4"><strong>Fecha de inicio:</strong></th>
            <td><span>@Model.FechaInicio</span></td>
        </tr>
        <tr>
            <th class="black-text text-accent-4"><strong>Fecha de finalizacion:</strong></th>
            <td><span>@Model.FechaFin</span></td>
        </tr>
    </table>
</div>