@model Congressus.Web.Models.Entities.Evento
@{ 
    var imagenes = new string[] { };
    if (Model.ImagenesInicio != null)
    {
        imagenes = Model.ImagenesInicio.Split(';');
    }
}
<div id="Inicio">
    @if (!string.IsNullOrEmpty(Model.ImagenesSponsors))
    {
        @Html.Partial("_carousel-slider", imagenes)
    }
    <h3 class="teal-text">Bienvenidos</h3>
    <div>
        @Html.Raw(HttpUtility.HtmlDecode(Model.TextoBienvenida))
    </div>
    <br />
</div>
 