@model Congressus.Web.Models.Entities.Evento
@{ 
    string[] imagenes = null;
    if (Model.ImagenesInicio != null)
    {
        imagenes = Model.ImagenesInicio.Split(';');
    }
}
<div id="Inicio">
    @Html.Partial("_carousel-slider",imagenes)
    <h3 class="teal-text">Bienvenidos</h3>
    <p>@Model.TextoBienvenida</p>
    <br />
</div>
 