@model Congressus.Web.Models.Entities.Evento
<div class="card-tabs">
    <ul class="tabs tabs-fixed-width">
        <li class="tab"><a href="#Inicio" class="active">Inicio</a></li>
        <li class="tab"><a href="#FechasImportantes">Fechas importantes</a></li>
        <li class="tab"><a href="#AreasCientificas">Áreas Científicas</a></li>
        <li class="tab"><a href="#Contacto">Contacto</a></li>
        <li class="tab"><a href="#Programa">Programa</a></li>
        <li class="tab"><a href="#Inscripcion">Inscripción</a></li>
        <li class="tab"><a href="#Charlas">Exposiciones</a></li>
        @if (Model.Secciones.Count > 0)
        {
            foreach (var seccion in Model.Secciones)
            {
                <li class="tab"><a href="#@seccion.Id">@seccion.Nombre</a></li>
            }
        }
    </ul>
</div>
