@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<style>
    .border-div{
        min-width:10px;
        background-color:#c43c3c;
        float:left; height:100%;color:#c43c3c;
        position:absolute;
        top:0;
        left:0;
        content:".";
    }
</style>
<div class="border-div"></div>
<div>
    <h4 class="teal-text">Error</h4>
    <h5>Codigo: @ViewBag.Codigo</h5>
    <h5>@ViewBag.Mensaje</h5>
</div>

